.navtxt {
    color: white;
}

.navtxt:hover {
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
}
.navtxt:focus {
    color: white !important;
}
.navtxt:active {
    color: black !important;
}
nav {
    background: linear-gradient(60deg, #e205a0, #0e1fb6);
    position: fixed;
    left: 0px;
    top: 0px;
}
